{% extends 'base.html.twig' %}

{% block index %}
    <div id="body-bg">
        {% embed './social/social-icons.html.twig' %}{% endembed %}
        {% embed './header/header.html.twig' %}{% endembed %}
        {% embed './header/nav.html.twig' %}{% endembed %}
        <div id="post_header" class="container" style="height:340px">
        </div>
        <div id="content-top-border" class="container">
        </div>
        {% embed './content/homepage.html.twig' %}{% endembed %}
    </div>
{% endblock %}